.cluster-detail {

    .cluster-contain {
        margin-top: 0;
        padding-top: 20px;
    }

    .card-pf-title {
        margin:10px 0px !important;
    }

    .custom-breadcrumb {
        font-size: 17px;
        padding: 8px;
    }

    .add-cursor-pointer {
       cursor: pointer;
    }

    .cluster-utilization {
        margin-top: 2%;
    }

    .utilization-align {
        text-align: -moz-left;
    }

    .status-notification {
        font-size: 15px;
    }

    .margin-for-storage-type {
        margin-top: 6%;
    }

    .margin-for-storage-profile {
        margin-top: 11%;
    }

    .trend-label-flat-pf {
        display: none !important;
    }

    .system-performance {
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .time-slot {
        margin-bottom: -10px;
        margin-left: 7px;
        margin-top: 9px;
    }

    .cluster-detail-osd {

        margin-top: 15px;

        .div-with-scroll {
            height: 500px;
            overflow: scroll;
            overflow-x: hidden;
            padding: 15px;
        }

        .filter-icon {
            cursor: pointer;
            font-size: 22px;
            margin-left: -20px;
        }

        .search-by-hidden {
            visibility: hidden;
        }

        .left-sidebar-expand {
            background: #FFFFFF;
            border-right: 1px solid #000000;
            position: fixed;
            top: 219px;
            bottom: 0;
            height: 100%;
            width: 250px;
            overflow: visible;
            -webkit-transition: width .05s linear;
            transition: width .05s linear;
            -webkit-transform: translateZ(0) scale(1,1);
            z-index: 1000;
            padding: 2px;
            margin-left: -21px;
        }

        .left-sidebar-collapse {
            background: #FFFFFF;
            border-right: 1px solid #000000;
            position: fixed;
            top: 219px;
            bottom: 0;
            height: 100%;
            width: 16px;
            overflow: visible;
            -webkit-transition: width .05s linear;
            transition: width .05s linear;
            -webkit-transform: translateZ(0) scale(1,1);
            z-index: 1000;
            padding: 2px;
            margin-left: -21px;
        }

        /* For different screen resulation */
        @media(max-width: 1780px) {
            .left-sidebar-expand {
                background: #FFFFFF;
                border-right: 1px solid #000000;
                position: fixed;
                top: 219px;
                bottom: 0;
                height: 100%;
                width: 200px;
                overflow: visible;
                -webkit-transition: width .05s linear;
                transition: width .05s linear;
                -webkit-transform: translateZ(0) scale(1,1);
                z-index: 1000;
                padding: 2px;
                margin-left: -21px;
            }
        }

        @media(max-width: 1400px) {
            .left-sidebar-expand {
                background: #FFFFFF;
                border-right: 1px solid #000000;
                position: fixed;
                top: 219px;
                bottom: 0;
                height: 100%;
                width: 150px;
                overflow: visible;
                -webkit-transition: width .05s linear;
                transition: width .05s linear;
                -webkit-transform: translateZ(0) scale(1,1);
                z-index: 1000;
                padding: 2px;
                margin-left: -21px;
            }
        }

        @media(max-width: 1200px) {
            .left-sidebar-expand {
                background: #FFFFFF;
                border-right: 1px solid #000000;
                position: fixed;
                top: 219px;
                bottom: 0;
                height: 100%;
                display: none;
                -webkit-transition: width .05s linear;
                transition: width .05s linear;
                -webkit-transform: translateZ(0) scale(1,1);
                z-index: 1000;
                padding: 2px;
                margin-left: -21px;
            }
            .filter-icon {
                display: none;
            }
        }

        .v-panel {
            background-color: gainsboro;
            padding: 10px;
            border: 1px solid grey;
            margin-bottom: 0px;
        }

        .pane-padding {
            padding-left: 10px;
        }

        .separator {
            margin-top: 15px !important;
        }

        .selected-osd-separator {
            margin-right: 20px !important;
        }

        .selected-osd-detail {
            margin-top: 12px;
            .detail-content {
                margin-top: -8px;
            }
        }

        .nested-checkbox {
            margin-left: 18px;
        }

        .radio-button-separator {
            margin-left: 5px;
        }

        .down-color {
            color: #cc0000;
        }

        .right-sidebar {
            border-left: 1px solid #000000;
        }

        .right-sidebar-contain {
            padding-left: 28px;
        }

        .databox {
            display: inline-block;
            font-size: 0;
            margin-bottom: 30px;
            min-width: 130px;
            padding: 0;
            vertical-align: top;
            width: 100%;
            border-radius: 2px;
            box-shadow: 3px 3px 11px black;
            margin-top: 12px;
            background-color: #fff !important;
        }

        .databox .databox-right {
            color: #555;
            display: inline-block;
            margin: 0;
            padding: 10px 10px;
            position: relative;
            vertical-align: top;
            width: 100%;
            border-radius: 12px;
            text-align: center;
        }

        .databox .databox-osd-name {
            text-align: -moz-left;
            display: block;
            font-size: 15px;
            line-height: 26px;
            margin: 2px;
            position: relative;
            color: #fb6e52 !important;
            word-wrap: break-word;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
        }

        .databox .databox-osd-weight {
            text-align: -moz-left;
            display: block;
            font-size: 15px;
            line-height: 26px;
            margin: 2px;
            position: relative;
            color: #fb6e52 !important;
            word-wrap: break-word;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
            height: 38px;
        }

        .databox .progress-bar-full {
            background-color: #cc0000;
        }

        .databox .progress-bar-near-full {
            background-color: #ec7a08;
        }

        .databox .progress-bar-normal {
            background-color: #39a5dc;
        }

        .selected-osd {
            border: 5px solid #3b0083;
            height: 106px;
        }

    }
}
