.list-view-pf-additional-info {
    float: none;
    margin: auto 1rem;
}
.list-view-pf-additional-info-item {
    flex-direction: column;
}
.list-view-pf-additional-info-item strong {
    margin: auto 5px;
}
