.host-detail {

    .custom-breadcrumb {
        font-size: 17px;
        padding: 8px;
    }

    .add-cursor-pointer {
       cursor: pointer;
    }

    .div-with-scroll {
        height: 100px;
        overflow: scroll;
        overflow-x: hidden;
        padding: 2px;
    }

}
