[project]
	description = Web client for Unified Storage Manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kanagaraj M (kmkanagaraj)
	owner = group user/Nishanth Thomas (nthomas-redhat)
	label-Code-Review = -2..+2 group skyring
	label-Verified = -1..+1 group Registered Users
	submit = group skyring
	pushSignedTag = group skyring
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group skyring
	label-Verified = -1..+1 group Registered Users
	submit = group skyring
	pushSignedTag = group skyring
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/tags/*"]
	pushTag = group skyring
	create = group skyring
	push = group skyring
	pushSignedTag = group skyring
