[project]
	description = Web client for Unified Storage Manager
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kanagaraj M (kmkanagaraj)
	owner = group user/Nishanth Thomas (nthomas-redhat)
	push = group user/Kanagaraj M (kmkanagaraj)
	label-Code-Review = -2..+2 group skyring
	label-Code-Review = -2..+2 group user/Kanagaraj M (kmkanagaraj)
	label-Verified = -1..+1 group Registered Users
[access "refs/for/refs/*"]
	read = group user/Kanagaraj M (kmkanagaraj)
	read = group user/Nishanth Thomas (nthomas-redhat)
	push = group user/Kanagaraj M (kmkanagaraj)
	push = group user/Nishanth Thomas (nthomas-redhat)
	label-Code-Review = -2..+2 group user/Kanagaraj M (kmkanagaraj)
	label-Code-Review = -2..+2 group user/Nishanth Thomas (nthomas-redhat)
	label-Verified = -1..+1 group user/Kanagaraj M (kmkanagaraj)
	label-Verified = -1..+1 group user/Nishanth Thomas (nthomas-redhat)
	rebase = group user/Kanagaraj M (kmkanagaraj)
	rebase = group user/Nishanth Thomas (nthomas-redhat)
	removeReviewer = group user/Kanagaraj M (kmkanagaraj)
	removeReviewer = group user/Nishanth Thomas (nthomas-redhat)
	submit = group user/Kanagaraj M (kmkanagaraj)
	submit = group user/Nishanth Thomas (nthomas-redhat)
[access "refs/heads/*"]
	read = group user/Kanagaraj M (kmkanagaraj)
	read = group user/Nishanth Thomas (nthomas-redhat)
	create = group user/Kanagaraj M (kmkanagaraj)
	create = group user/Nishanth Thomas (nthomas-redhat)
	push = +force group user/Kanagaraj M (kmkanagaraj)
	push = +force group user/Nishanth Thomas (nthomas-redhat)
	pushMerge = group user/Kanagaraj M (kmkanagaraj)
	pushMerge = group user/Nishanth Thomas (nthomas-redhat)
[access "refs/tags/*"]
	push = +force group user/Kanagaraj M (kmkanagaraj)
	push = +force group user/Nishanth Thomas (nthomas-redhat)
	pushTag = +force group user/Kanagaraj M (kmkanagaraj)
	pushTag = +force group user/Nishanth Thomas (nthomas-redhat)
	pushSignedTag = group user/Kanagaraj M (kmkanagaraj)
	pushSignedTag = group user/Nishanth Thomas (nthomas-redhat)
[receive]
	requireSignedOffBy = true
	requireChangeId = true
[submit]
	action = fast forward only
	mergeContent = false
[access "refs/heads/master"]
	label-Verified = -1..+1 group Registered Users
	submit = group user/Kanagaraj M (kmkanagaraj)
