<ul class="nav nav-tabs">
  <li><a href="#/admin">Users</a></li>
  <li><a href="">Roles</a></li>
  <li><a href="#/admin/ldap">Settings</a></li>
  <li class="active"><a href="">Mail Settings</a></li>
</ul>

<h2>Configure Email Server</h2></br>

<form name= "mailsetting.form" class="form-horizontal" novalidate>
  <div class="form-group">
    <label for="mailnotification" class="col-sm-2 col-md-2 control-label">Email Notifications </label>
      <div class="col-sm-4 col-md-2">
        <input type="checkbox" id="mailnotifications" ng-model="mail.mailnotification">
      </div>
  </div>
  
  <div class="form-group" ng-class="{'has-error': mailsetting.form.smtpserver.$error.required}">
    <label for="outgoingmailserver" class="col-sm-2 col-md-2 control-label">Out Going MailServer</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" name="smtpserver" class="form-control" id="outgoingmailserver" ng-model="mail.smtpserver" placeholder="Server" required>
    </div>
    <div class="col-sm-10 col-md-4">
        <span class="help-block" ng-if="mailsetting.form.smtpserver.$error.required">MailServer cannot be empty</span>
    </div>
  </div>
  
  <div class="form-group" ng-class="{'has-error': mailsetting.form.port.$error.required}">
    <label for="port" class="col-sm-2 col-md-2 control-label">Port</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" name= "port" class="form-control" id="port" ng-model="mail.port" placeholder="Port" required>
    </div>
    <div class="col-sm-10 col-md-4">
        <span class="help-block" ng-if="mailsetting.form.port.$error.required">Port cannot be empty</span>
    </div>
  </div>
  
  <div class="form-group">
    <label for="smtpaddress" class="col-sm-2 col-md-2 control-label">SMTP Address</label>
    <label class="col-sm-6 col-md-3">Use SSL
      <input type="radio" name="encryption" id="usessl" ng-model="mail.usessl"></label>
    <label class="col-sm-6 col-md-3">Use TLS
      <input type="radio" name="encryption" id="usetls" ng-model="mail.usetls"></label>
  </div>

  <div class="form-group" ng-class="{'has-error': mailsetting.form.username.$error.required}">
    <label for="username" class="col-sm-2 col-md-2 control-label">User Name</label>
    <div class="col-sm-10 col-md-4">
      <input type="email" name="username" class="form-control" id="username" ng-model="mail.mailid" placeholder="User Name" required>
    </div>
    <div class="col-sm-10 col-md-4">
        <span class="help-block" ng-if="mailsetting.form.username.$error.required">Username cannot be empty</span>
    </div>
  </div>
 
  <div class="form-group" ng-class="{'has-error': mailsetting.form.password.$error.required}">
    <label for="mailpassword" class="col-sm-2 col-md-2 control-label">Password</label>
    <div class="col-sm-10 col-md-4">
      <input type="password" name="password"class="form-control" id="mailpassword" ng-model="mail.password"placeholder="Password" required>
    </div>
     <div class="col-sm-10 col-md-4">
        <span class="help-block" ng-if="mailsetting.form.password.$error.required">Password cannot be empty</span>
    </div>
  </div>

  <div class="form-group">
    <label for="from" class="col-sm-2 col-md-2 control-label">From</label>
    <div class="col-sm-10 col-md-4">
      <input type="email" class="form-control" id="from" ng-model="mail.from" placeholder="From">
    </div>
  </div>

  <div class="form-group" ng-class="{'has-error': mailsetting.form.subprefix.$error.required}">
    <label for="subjectprefix" class="col-sm-2 col-md-2 control-label">Subject Prefix</label>
    <div class="col-sm-10 col-md-4">
      <input type="text" name="subprefix" class="form-control" id="subjectprefix" ng-model="mail.subprefix" placeholder="Subject Prefix" required>
    </div>
     <div class="col-sm-10 col-md-4">
        <span class="help-block" ng-if="mailsetting.form.subprefix.$error.required">Password cannot be empty</span>
    </div>
  </div>
  
  <div class="form-group panel panel-default panel-body">
    <label for="recipient" class="col-sm-2 col-md-2 control-label">Text Message Recipient</label>
    <div class="col-sm-10 col-md-4">
      <textarea rows="3" cols="50"class="form-control" id="recipient" ng-model="mail.recipient" placeholder="Text Message Recipient">
      </textarea>
    </div>
    <div class="col-sm-10 col-md-4">
      <button class="btn btn-primary" ng-click="mail.test()">Test</button>
    </div>
  </div>
  
   <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary"  ng-click="mail.save()" ng-disabled="mailsetting.form.$invalid">Save</button>
    </div>
  </div>
  
 </form>