<div class="row">
  <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
    <div>
      <h3 translate>Ceph Cluster Configuration</h3>
      <div>
        <p translate>General Cluster setting and defaults</p>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <td translate>Default Authentication</td>
          <td ng-bind="configdetail.configData.cluster_configs.auth_client_required"></td>
        </tr>
        <tr>
          <td translate>Default Replicas</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_pool_default_size"></td>
        </tr>
        <tr>
          <td translate>Keyring file Path</td>
          <td ng-bind="(configdetail.configData.cluster_configs.keyring).split(',')[0]"></td>
        </tr>
        <tr>
          <td translate>Bind to IPv6</td>
          <td ng-bind="configdetail.configData.cluster_configs.ms_bind_ipv6"></td>
        </tr>
        <tr>
          <td translate>Default Log File</td>
          <td ng-bind="configdetail.configData.cluster_configs.log_file"></td>
        </tr>
        <tr>
          <td translate>OSD down-Out interval</td>
          <td ng-bind="configdetail.configData.cluster_configs.mon_osd_down_out_interval"></td>
        </tr>
        <tr>
          <td translate>OSD Report Timeout</td>
          <td ng-bind="configdetail.configData.cluster_configs.mon_osd_report_timeout"></td>
        </tr>
        <tr>
          <td translate>Default Journal Size</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_journal_size | bytes "></td>
        </tr>
        <tr>
          <td translate>Default Journal Path</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_journal"></td>
        </tr>
        <tr>
          <td translate>Default OSD Data Path</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_data"></td>
        </tr>
        <tr>
          <td translate>OSD Max Backfills</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_max_backfills"></td>
        </tr>
        <tr>
          <td translate>OSD Max Scrubs</td>
          <td ng-bind="configdetail.configData.cluster_configs.osd_max_scrubs"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-offset-1 col-md-4 col-sm-12 col-xs-12">
    <div>
      <h3 translate>Notifications</h3>
      <div>
        <p translate>Generate notifications for the following events</p>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr ng-repeat="data in configdetail.configData.notification_list.notifications">
          <td><div class="text-capitalize">{{data.name.split('_').join(' ')}}</div></td>
          <td ng-if="data.enabled">Enabled</td>
          <td ng-if="!data.enabled">Disabled</td>
        </tr>
      </tbody>
    </table>
    <div>
      <h3 translate>Utilization</h3>
      <div>
        <p translate>Alert user when the following utilization thresolds have been breached</p>
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tbody>
        <tr>
          <th></th>
          <th translate>Warning (Near Full)</th>
          <th translate>Critical (Full)</th>
        </tr>
        <tr ng-repeat="data in configdetail.configData.threshold_configs">
          <td><div class="text-capitalize">{{data.name.split('_').join(' ')}}</div></td>
          <td>{{data.configs[1].value}}</td>
          <td>{{data.configs[0].value}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
