<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="about">
                 <button type="button" class="btnclose" ng-click="$hide()">&times;</button>
                <div class="imgsource">
                    <img src="images/about.png" alt="">
                </div>
                <div class="logo">
                    <img src="images/logo.png" width="92" height="30" alt="">
                </div>
                <div class="overlap">
                    <div class= "modalTitle">
                        <h2><label ng-bind= "request.about.ProductName"></label></h2>
                    </div>
                    <div>
                        <span class="modalLabel">Version:  </span>&nbsp;
                        <span class="modalText" ng-bind="request.about.ProductVersion"></span>
                    </div>
                    <div ng-repeat="(key, value) in request.about.StorageProviderDetails">
                        <span class="modalLabel">Provider:  </span>&nbsp;
                        <span class="modalText" ng-bind="key"></span>&emsp;
                        <span class="modalLabel">Version:  </span>&nbsp;
                        <span class="modalText" ng-bind="value"></span>
                    </div>
                    <div>
                        <span class="modalLabel">Database:  </span>&nbsp;
                        <span class="modalText" ng-bind="request.about.DbSoftware"></span>&emsp;
                        <span class="modalLabel">Version:  </span>&nbsp;
                        <span class="modalText" ng-bind="request.about.DbSoftwareVersion"></span>
                    </div>
                    <div class= "tradeMark">
                        trademark & copyright
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
