<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title"> Demo Video </h4>
            </div>
            <div class="modal-body">
                <video width="560" height="315" controls>
                    <source src="http://jenkins.lab.eng.blr.redhat.com/usm/demo-video/alpha1-demo.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                </video>
            </div>
        </div>
    </div>
</div>