<ul class="dropdown-menu  cluster-dropdown-menu" role="menu">
    <li role="presentation">
        <a role="menuitem"> <i class="fa fa-check"></i> MyCeph2 </a>
    </li>
    <li role="presentation">
        <a role="menuitem"> <i class="fa fa-check"></i> MyCeph3 </a>
    </li>
    <li role="presentation">
        <a role="menuitem"> <i class="fa fa-check"></i> MyCeph4 </a>
    </li>
    <li role="presentation">
        <a role="menuitem"> <i class="fa fa-check"></i> MyCeph5 </a>
    </li>
</ul>
